/* note app */

@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/noteapp/noteappcss/misc.css");
@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/noteapp/noteappcss/textarea.css");
@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/noteapp/noteappcss/topbar.css");
@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/noteapp/noteappcss/sidebar.css");
@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/noteapp/noteappcss/sidebar2.css");
@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/noteapp/noteappcss/modal.css");

/* diff app */

@import url("https://cdn.jsdelivr.net/gh/vkdatta/web@main/dexlabs/app/diffapp/diffappcss/diffapp.css");
