button {
  background: #181c1f;
  color: #cacaca;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 13px;
  font-family: inherit;
  transition: 0.15s;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.06);
  outline: none;
  border-radius: 8px;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
button:hover,
button:focus-visible {
  transform: translateY(1px);
  box-shadow: 0 1px 0 rgba(0,0,0,0.7) inset;
  background: #272727
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  font-family: classy;
}
.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-size: 24px !important;
  position: absolute;
  padding: 15px;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  color: #909090;
}
.material-symbols-rounded:hover {
  color: #606060;
}
.material-symbols-rounded:visited {
  color: #909090;
}
.material-symbols-rounded {
  color: var(--purple);
}
