button {
  display: block;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  font-family: dexy;
  background: #181c1f;
  color: #e0e0e0;
  border: #171717;
  padding: 14px;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: normal;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  border: 3px solid #272727;
}
button:hover {
  border: 3px solid #181c1f;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  font-family: classy;
}
.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-size: 24px !important;
  position: absolute;
  padding: 15px;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  color: #909090;
}
.material-symbols-rounded:hover {
  color: #606060;
}
.material-symbols-rounded:visited {
  color: #909090;
}
.material-symbols-rounded {
  color: var(--purple);
}
