article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: 0 0;
  color: #00ffd5;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: source code pro;
  font-size: 1em;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
fieldset {
  border: 1px solid #f5f5f3;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
button {
  overflow: hidden;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
}
.overflow-button {
  cursor: pointer;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
#main {
  outline: 0;
}
.main-heading {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
.page {
  max-width: inherit;
  width: 100%;
}
.Blog {
  padding: 0;
}
.overflowable-contents li {
  display: inline-block;
  height: 50px;
}
.PageList ul {
  padding: 0;
}
#rcorners,
q {
  padding: 20px;
  width: auto;
  height: device-height;
  display: inline-block;
  border-radius: 25px;
  border: 3px double #000;
}
.post-body hr {
  width: 40%;
  align: center;
}
iframe {
  max-width: inherit;
  overflow: hidden;
}
.post-body iframe {
  max-width: 100%;
}
.post-body a[imageanchor="1"] {
  display: inline-block;
}
.no-posts-message {
  line-height: 40px;
  text-align: center;
}
.item-control {
  display: none;
}
ol,
ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}
ol li,
ul li {
  display: list-item;
  text-align: left;
  margin: 0 0 0 20px;
  padding: 0;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4 {
  position: relative;
  padding-left: 1.27em;
}
.post-body h1::before,
.post-body h2::before,
.post-body h3::before,
.post-body h4::before {
  position: absolute;
  left: 0;
  color: var(--purple);
}
.post-body h1::before { content: "!1 "; }
.post-body h2::before { content: "!2 "; }
.post-body h3::before { content: "!3 "; }
.post-body h4::before { content: "!4 "; }
h1,
h2,
h3,
h4,
.special-container {
  margin: 2px 0 2px 0 !important;
  font-family: dexy;
}
body.item-view blockquote {
  font-style: normal;
  quotes: "\201c""\201d""\2018""\2019";
}
body.item-view blockquote::before {
  content: open-quote;
}
body.item-view blockquote::after {
  content: close-quote;
}
.copyright {
  text-align: center;
}
