::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
::selection {
  color: #fff !important;
  background: #272727 !important;
}
* {
  -webkit-tap-highlight-color: transparent;
  color: #cacaca;
  font-size: 16px;
  background: 0 0;
  text-underline-offset: 5px;
}
html {
  font-family: dexy;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
    scrollbar-width: none !important;
}
body {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  background: #000;
  margin: 0;
  -ms-overflow-style: none !important;
}
.all-container {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main_content_container {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  margin: 0 auto;
  max-width: inherit;
  width: 100%;
}
.centered-top-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: inherit;
  width: 100%;
}
.overflowable-container {
  max-height: 50px;
  overflow: hidden;
  position: relative;
}
.post-body img {
  max-width: 100%;
  border-radius: 20px;
  size: medium;
}
body#layout .page_body {
  padding: 0;
  position: relative;
  top: 0;
}
body#layout .page {
  display: inline-block;
  left: inherit;
  position: relative;
  vertical-align: top;
  width: 540px;
}
.post-content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  max-width: inherit;
  width: 100%;
  background: 0 0;
}
.post-title {
  margin-top: 0;
}
.blog-pager {
  margin-top: 48px;
  float: left;
}
.post-title,
.post-title a {
  line-height: 3;
}
body.item-view .Blog .post-outer {
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: 0 !important;
  text-align: justify;
  border: none;
}
body.feed-view .post-outer-container {
  margin-top: 55px;
}
@media (min-width: 969px) {
  * {
    font-size: 17px;
  }
  body.item-view .Blog .post-outer {
    padding: 60px !important;
  }
  .blog-pager .blog-pager-newer-link,
  .blog-pager .blog-pager-older-link {
    margin: 60px !important;
  }
}

body.item-view .Blog .post-title,
body.item-view .Blog .post-title a {
  background: 0 0;
  color: #cacaca;
  font-size: 18px;
  line-height: 1.41667;
}
body.item-view .Blog {
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
}
body.item-view .Blog .post-content {
  max-width: none;
}
body.item-view .post-body {
  line-height: 2;
}
body.item-view .Blog .post-body {
  margin-bottom: 0;
}
@media screen and (max-width: 968px) {
  body {
    font-size: 16px;
  }
  .post-title {
    font-size: 16px;
  }
  .post-filter-message {
    margin: 24px 24px 48px;
  }
  body.item-view .Blog .post-title {
    font-size: 16px;
  }
  body.item-view .Blog .post-body {
    font-size: 16x;
  }
  .main_header_elements {
    position: relative;
    display: block;
  }
  .blog-name {
    float: none;
  }
  .blog-pager {
    margin-left: 24px;
    margin-right: 24px;
  }
  .post-outer {
    margin: 20px;
  }
}
@media (max-width: 600px) {
  * {
    font-size: 12px;
  }
}
@media (min-width: 601px) and (max-width: 968px) {
  * {
    font-size: 14px;
  }
}
.footer {
  background: 0 0;
}
.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-size: 27px !important;
  position: absolute;
  padding: 15px;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  color: #909090;
}
.material-symbols-rounded:hover {
  color: #606060;
}
.material-symbols-rounded:visited {
  color: #909090;
}
body.item-view .post-body-container img {
  height: auto;
  max-width: 100%;
}
body.item-view .Blog .post-body-container {
  position: relative;
  margin-top: 0px;
  margin-bottom: 32px;
  padding: 0px 27px 27px 27px;
}
.post-outer {
  display: flex;
  position: relative;
  padding: 10px;
  text-align: center;
  margin: 20px;
  background: linear-gradient(45deg, #111, #000, #000) padding-box,
    linear-gradient(45deg, transparent 90%, #000, var(--purple)) border-box;
  border: 3px solid transparent;
  border-radius: 2px;
  font-family: dexy !important;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
}
.post-outer:hover {
  background: linear-gradient(145deg, #111, #000, #000) padding-box,
    linear-gradient(45deg, transparent 90%, #000, #c70064) border-box;
  border: 3px solid transparent;
  border-radius: 2px;
  font-family: dexy !important;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  font-family: classy;
}
.blog-pager {
  display: flex;
  width: 90%;
  height: fit-content;
  justify-content: space-between;
}


:focus {
  outline: none;
}
.material-symbols-rounded {
  color: var(--purple);
}

.post-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-decoration: none;
  color: inherit;
}

.post-link:hover {
  cursor: pointer;
}
.post-outer:has(.post-body) {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}

body.item-view .Blog .post-title-container {
  box-sizing: border-box;
  padding: 0px 40px 0px 40px !important;
  font-size: 150%;
  text-align: left !important;
  display: block;
  width: 100%;
}
body.item-view .Blog .post-title-container * {
  text-align: left !important;
  letter-spacing: 2px;
  word-spacing: 5px;
}
button {
  display: block;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  font-family: dexy;
  background: #181c1f;
  color: #e0e0e0;
  border: #171717;
  padding: 14px;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: normal;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  border: 3px solid #272727;
}
button:hover {
  border: 3px solid #181c1f;
}
.post-body {
  line-height: 2;
  margin-bottom: 24px;
  font-family: classy;
  text-align: left;
  word-spacing: 3px;
  display: block !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 15px !important;
  box-sizing: border-box !important;
  letter-spacing: 1.7px;
}
@media (max-width: 600px) {
  .post-body {
    font-size: 12px !important;
  }
}
@media (min-width: 601px) and (max-width: 968px) {
  .post-body {
    font-size: 14px !important;
  }
}
@media (min-width: 969px) {
  .post-body {
    font-size: 17px !important;
  }
}
