.ham {
  display: flex;
  flex-direction: row;
  height: 29px;
  cursor: pointer;
  margin: 7px;
  direction: rtl;
}
.ham span {
  background: #cacaca;
  margin: 0 4px;
  width: 2.9px;
  transition: 0.2s cubic-bezier(0.38, -0.1, 0.32, 0.1);
}
.ham span:nth-of-type(1) {
  height: 75%;
}
.ham span:nth-of-type(2) {
  height: 95%;
}
.ham span:nth-of-type(3) {
  height: 55%;
}
.cswrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: 0;
  clip-path: circle(2px at calc(100% - 44px) 55px);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#csactive:checked ~ .cswrap {
  clip-path: circle(200%);
  background: red;
}
.csmenu {
  position: absolute;
  z-index: 2;
  right: 21px;
  top: 29px;
  height: 70px;
  width: 50px;
  background: #272727;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
  align-items: center;
  display: grid;
}
@media only screen and (max-width: 1200px) {
  .csmenu {
    top: 19px;
  }
}
#csactive {
  display: none;
}
.csnav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 80%;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}
.csnav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #979797;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.2s cubic-bezier(0.38, -0.1, 0.32, 0.1);
}
.csnav a:before,
.csnav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s cubic-bezier(0.38, -0.1, 0.32, 0.1);
}
.csnav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}
.csnav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}
.csnav a:nth-child(1):before {
  background-color: yellow;
}
.csnav a:nth-child(1):after {
  background-color: red;
}
.csnav a:nth-child(2):before {
  background-color: #00e2ff;
}
.csnav a:nth-child(2):after {
  background-color: #89ff00;
}
.csnav a:nth-child(3):before {
  background-color: purple;
}
.csnav a:nth-child(3):after {
  background-color: palevioletred;
}
#csindi {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}
.csnav a:hover {
  color: #fff;
}
.csnav a:hover:before,
.csnav a:hover:after {
  transform: scale(1);
}
.csnav a:nth-child(1):hover ~ #csindi {
  background: linear-gradient(130deg, yellow, red);
}
.csnav a:nth-child(2):hover ~ #csindi {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}
.csnav a:nth-child(3):hover ~ #csindi {
  left: 70%;
  background: linear-gradient(130deg, purple, palevioletred);
}
#searchinput,
#searchsubmit {
  background: #171717;
  padding: 10px;
  font-family: dexy;
}
#searchbox {
  width: 70vw;
  position: relative;
  overflow-x: hidden;
  background: 0;
  top: 29px;
  height: 40px;
  display: flex;
  vertical-align: middle;
}
#searchinput {
  width: 87.25%;
  border: 3px solid #171717;
  outline: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#searchsubmit {
  cursor: pointer;
  border: 3px solid var(--purple);
  width: max(50px, 11.75%);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#searchsubmit:hover {
  border: 3px solid #c70064;
  outline: 0;
}
.pirate {
  display: grid;
  height: 10vh;
  width: 100%;
}
